.holder {
    border: solid 1px gray;
    display: block;
    background: linear-gradient(90deg,rgb(162, 162, 246),lightBlue,white);
    padding: 15px;
    width: 40%;
    height: auto;

}
#task5 {
    background-color: rgb(229, 229, 229);
}
#task8 {
    background-color: rgb(229, 229, 229);
}
#task11 {
    background-color: rgb(229, 229, 229);
}
#task12 button{
    margin: 4px;
}
