.menu a, h2{
    font-family: "Lobster", cursive;
    font-weight: lighter;
    text-decoration: none;
    text-transform: initial;
    font-size: 25px;
    color:gold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.65);
}