.menu a, h2{
    font-family: "Lobster", cursive;
    font-weight: lighter;
    text-decoration: none;
    text-transform: initial;
    font-size: 25px;
    color:gold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.65);
}
.login-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.signup-form,
.signin-form
{
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform:translate(-50%, -50%);
  background-color:#1e2833;
  border-radius: 10px;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  transition:.5s ; 
  visibility: hidden;
  opacity: 0;
  z-index: 5003;
}

.form{
  width: 500px;
  padding:20px 50px;
}
.form .close{
  text-align: right;
  cursor: pointer;
}
.form .text {
    text-align:center;
    padding:13px 0 15px;
    font-size:120px;
    color:#2980ef;
}
.form form{
  display: block;
  margin: auto;
  color: #fff;
} 
 .form .row{
  display: flex;
  justify-content: space-between;

} 
.form .row input{
  margin-bottom:0;
}
.form .row input :first-child{
  margin-right: 10px;
}
.form .row input :last-child{
  margin-left: 10px;
}
.form form input{
background: none;
border: none;
border-bottom: 1px solid #434a52;
  width: 100%;
  display: block;
  border-radius: 50px;
  padding: 15px 40px;
  margin: 20px auto;
  outline: none;
  color: inherit;
  font-size: 20px;
}

.signin-form.active,
.signup-form.active{
  top: 40%;
  transition:.5s ;
  visibility: visible;
  opacity: 1;
}

.container.active{
  transition: .5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}


.form button {
	background-color:#265592;
	border: none;
    padding: 15px;
    border-radius: 3px;
	box-shadow: none;
    margin-top: 25px;
    text-shadow: none;
    width: 100%;
    color: inherit;
    outline: none;
  }
  .form button:hover {
	background:#214a80;
  }
  .form .forgot {
    display: block;
    text-align: center;
    font-size: 15px;
    color:#6f7a85;
    opacity: 0.9;
    text-decoration: none;
    margin-top: 20px;
  }
  .form .forgot:hover, .form .forgot:active {
    opacity: 1;
    text-decoration: none;
  }
/* =========================================================CODE SIGNIN/SIGNUP======================================================================= */
.sign-in{
  background-color: rgb(223, 37, 37);
}
.sign-in a{
  color:#ffffff !important;
}
@media screen and (max-width: 550px) {
  .signup-form,
.signin-form {
  width: 90%;
}
    .form {
        width: 100%;
        padding: 10px 25px;
    }
    .form form input {
      font-size: 15px;
      padding: 10px 25px;
    }
    .form button {
      margin-top: 15px;
      padding: 10px;
    }
    .form .text {
      font-size: 90px;
      padding: 8px 10px;
    }
}
