*{
  padding: 0;
  margin: 0;
}
body{
  background-color: black;
}
/* ========================= MENU ========================= */
.header-menu-position {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
}
header img{
  width: 100px;
  margin: 0 5px -10px;
}
header img:hover{
opacity: 0.75;
}

nav.left-menu {
  display: flex;
  flex: 1;
  justify-content: space-around;   
}
.left-menu a,.left-menu-hamburger a{
  font-family: "Lobster", cursive;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 25px;
  color: #ffffff;
  align-self: center;
}
/* ===================== ===================== */
.left-menu-hamburger button{
  display: none;  
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  position: fixed;
  margin-left: 5px;
  margin-top: -20px;
}
.left-menu-hamburger button{
  color: #ffffff;
  background-color: #374046;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 25px;
}
.left-menu-hamburger button:hover, .left-menu-hamburger a:hover{
  text-shadow: 0 0 15px #ffffff;
}

.left-menu-hamburger{
  overflow: visible;
  position: absolute;
}
.drop-down-content {
  text-align: center;
}
.left-menu-hamburger #drop-down-content{
  display: none;
  position: fixed;
   top: 70px;
   left: 5px;
}
.left-menu-hamburger li{
  display: none;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #374046;
}

.left-menu-hamburger a{
  display: none;
  font-size: 27px;
}

.left-menu-hamburger li:last-child{
  border-radius: 0 0 5px 5px;
}
.left-menu-hamburger li:first-child{
  border-radius: 5px 5px 0 0;
}



/* ===================== ===================== */
.right-menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.right-menu button{
  padding: 8px;
  margin: 0 5px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.sign-in{
  background-color: red;
}
.sign-in a{
  color:#ffffff !important;
}
.right-menu a {
  padding: 7px;
  text-decoration: none;
  color: #787878;
  align-self: center;

  font-family: "Lobster", cursive;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 20px;
}

.right-menu a:hover,
.links-icons a:hover,
.left-menu a:hover  {
  color: #a8bff0;
  text-shadow: 0 0 15px #ffffff;
}


/*======================== TOP button ========================*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
 
  font-family: "Lobster", cursive;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 25px;
}

#myBtn:hover {
  background-color: #555;
}
/* ========================= GRID BLOG ========================= */
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 20px;
}

/* Non-grid specific CSS */  
 .grid{
  margin: 10px;
	color: #374046;
	background-color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.15em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
.item {
  background-color: #ffffff;
  margin: auto 3px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ffffff;
}
.item:hover{
  cursor: pointer;
  border: 3px solid #ffffff;
  box-shadow: 0 0 15px #ffffff;
}

.photothumb{
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}

.title {
  padding: 20px;
  border-radius: 10px 10px 0 0;
 }

.title h3{
  font-family: "Lobster", cursive;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 28px;
  color: #ffffff;
}
i{
  font-family: "Lobster", cursive;
  font-weight: lighter;
  text-decoration: none;
  font-size: 20px !important;
}
.title h3:hover{
  text-shadow: 0 0 15px #ffffff;
}

.blog .title{
  background-color: #ff9800;
}

.photo .title{
  background-color: #f44336;
}

.desc{
  padding: 3px;
}

.desc img{
  width: 50%;
  margin: 0 2px 2px 0;
  float: left;
  border-radius: 10px;
}

.desc p{
  text-indent: 5px;
  margin-bottom: 10px; 
}

@media screen and (max-width: 800px) {
  nav.left-menu {
      display: none;
  }
  
  .left-menu-hamburger ,.left-menu-hamburger li{
    position: relative;
    display: block;
  }

  .left-menu-hamburger a{
    display: block;
  }
  .right-menu button{
    padding: 1px !important;
    margin: 0 1px !important;
  }
  .left-menu-hamburger button{
    display: block;
}
}
  /* prev and next button */
  .pagination-button {
    margin: 10px auto;
    width: 120px;
  }
  #btn_prev, #btn_next {
    padding: 13px 20px;
    border-radius: 35%;
    font-size: 25px;
    margin: 0 3px;
    display: inline-block;
    outline: none;
    user-select: none;
  }
  #btn_prev:hover, #btn_next:hover {
    background-color: lightgray;
  }
  /* FILTER AND SEARCH */
  .search-bar{
    position: relative;
    width: 50%;
    margin-left: 15px;
    bottom: 10px;
  }
  .search-bar i {
    font-size: 30px;
  }
  .search-bar, .filters-bar {
    display: inline-block;
  }
  .main-content-filter {
    background-color: dodgerblue;
    display: block;
    padding: 10px;
  }
  input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 7px 7px; 
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 60%;
  }
  .filter-bar-child {
    display: inline-block;
    margin: 0 10px;
  }
  .filter-bar-child span, .filter-bar-child select {
    display: inline-block;
  }
  .category-title {
    margin-bottom: 3px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  select {
    width: 100%;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    background: url('arrow.png');
    background-repeat: no-repeat;
    background-position: 95% 50%; 
    background-color: #c0392b;
    border: none;
    border-bottom: 1px solid #962d22;
    color: white;
    padding: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 3px;
    border-radius: 7px;
  }
  /* For IE <= 11 */
  select::-ms-expand {
    display: none; 
  }
  select:hover,
select:focus {
  color: #c0392b;
  background: url('arrow1.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
  background-color: white;
  border-bottom-color: #DCDCDC;
  
}


  @media screen and (max-width: 800px) {
    .search-bar{
      position: static;
    }
    input[type=text] {
      width: 85%;
      margin-bottom: 5px;
    }
    .search-bar, .filters-bar {
      display: block;
    }
    input[type=text]:focus {
      width: 135%;
    }
    .filter-bar-child span, .filter-bar-child select {
      display: block;
    }
  }