*{
  padding: 0;
  margin: 0;
}
body{
  background-color: black;
}
/* ========================= MENU ========================= */
.header-menu-position {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
}
header img{
  width: 100px;
  margin: 0 5px -10px;
}
header img:hover{
opacity: 0.75;
}

nav.left-menu {
  display: flex;
  flex: 1;
  justify-content: space-around;   
}
.left-menu a,.left-menu-hamburger a{
  font-family: "Lobster", cursive;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 25px;
  color: #ffffff;
  align-self: center;
}
/* ===================== ===================== */
.left-menu-hamburger button{
  display: none;  
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  position: fixed;
  margin-left: 5px;
  margin-top: -20px;
}
.left-menu-hamburger button{
  color: #ffffff;
  background-color: #374046;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 25px;
}
.left-menu-hamburger button:hover, .left-menu-hamburger a:hover{
  text-shadow: 0 0 15px #ffffff;
}

.left-menu-hamburger{
  overflow: visible;
  position: absolute;
}
.drop-down-content {
  text-align: center;
  width: 40%;
  padding: 5px;
}
.left-menu-hamburger #drop-down-content{
  display: none;
  position: fixed;
   top: 65px;
   left: 5px;
}
.left-menu-hamburger li{
  display: none;
  box-sizing: border-box;
  padding: 5px 5px;
  background-color: #374046;

}

.left-menu-hamburger a{
  display: none;
  font-size: 23px;
}

.left-menu-hamburger li:last-child{
  border-radius: 0 0 5px 5px;
}
.left-menu-hamburger li:first-child{
  border-radius: 5px 5px 0 0;
}



/* ===================== ===================== */
.right-menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.right-menu button{
  padding: 8px;
  margin: 0 5px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
}
.sign-in{
  background-color: red;
}
.sign-in a{
  color:#ffffff !important;
}
.right-menu a {
  padding: 7px;
  text-decoration: none;
  color: #787878;
  align-self: center;
  font-family: cursive;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 20px;
}


.right-menu a:hover,
.links-icons a:hover,
.left-menu a:hover  {
  color: #a8bff0;
  text-shadow: 5px 5px 20px #ffe8e8;
}


/*======================== TOP button ========================*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
 
  font-family: "Lobster", cursive;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 25px;
}

#myBtn:hover {
  background-color: #555;
}
/* ========================= GRID BLOG ========================= */
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 20px;
}

/* Non-grid specific CSS */  
 .grid{
  margin: 10px;
	color: #374046;
	background-color: black;
	font-size: 1.15em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
.item {
  background-color: #ffffff;
  margin: auto 3px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ffffff;
}
.item:hover{
  cursor: pointer;
  border: 3px solid #ffffff;
  box-shadow: 0 0 15px #ffffff;
}

.photothumb{
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  z-index: 0;
  user-select: none;
  filter: brightness(85%);
}


.title {
  padding: 7px;
  margin-left: 3px;
  z-index: 1;
 }


.title h3{
  font-family: "Lobster", cursive;
  font-weight: lighter;
  text-decoration: none;
  text-transform: initial;
  font-size: 23px;
  color: #ffffff;
  text-shadow: 0 0 8px #0202027c;
  text-align: left;
  filter: brightness(130%);
}
i{
  font-family: "Lobster", cursive;
  font-weight: lighter;
  text-decoration: none;
  font-size: 20px !important;
}
.title h3:hover{
  text-shadow: 0 0 5px #ffffff;
  color: rgba(0, 0, 0, 0.281);
}

.blog .title{
  position: absolute;
}

.photo .title{
  position: absolute;
}

.desc{
  padding: 3px;
}

.desc img{
  width: 50%;
  margin: 0 2px 2px 0;
  float: left;
  border-radius: 10px;
}

.desc p{
  font-family: 'futura-pt', 'halyard-display', 'sans-serif';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  text-indent: 5px;
  margin-bottom: 10px; 
}

@media screen and (max-width: 800px) {
  .item {
    margin: 2px 2px;
  }
  nav.left-menu {
      display: none;
  }
  
  .left-menu-hamburger ,.left-menu-hamburger li{
    position: relative;
    display: block;
    z-index: 5002;
  }

  .left-menu-hamburger a{
    display: block;
  }
  .right-menu button{
    padding: 1px !important;
    margin: 0 1px !important;
  }
  .right-menu a {
    font-size: 18px;
    padding: 4px;
  }
  .left-menu-hamburger button{
    display: block;
}
}
  /* prev and next button */
  .btn-bottom {
    display: none;
  }
  .pagination-button {
    margin: 10px auto;
    width: 120px;
  }
  #btn_prev, #btn_next {
    padding: 13px 20px;
    border-radius: 35%;
    font-size: 25px;
    margin: 0 3px;
    display: inline-block;
    outline: none;
    user-select: none;
  }
  #btn_prev:hover, #btn_next:hover {
    background-color: lightgray;
  }
  /* FILTER AND SEARCH */
  .search-bar{
    position: relative;
    width: 50%;
    margin-left: 15px;
    bottom: 10px;
    margin-top: 7px;
  }
  .search-bar i {
    font-size: 30px;
  }
  .search-bar, .filters-bar {
    display: inline-block;
  }
  #clear-search-btn {
    width: 27px;
    height: 27px;
    position: absolute;
    right: 70.7%;
    bottom: 5px;
    outline: none;
    border-radius: 50%;
    background-color: rgb(160, 160, 160);
    color: white;
    border: none;
    text-align: center;
    padding: 3px;
    display: none;
    z-index: 1000;
    -webkit-transition: right 0.4s ease-in-out;
    transition: right 0.4s ease-in-out;
  }
  #clear-search-btn:hover {
    background-color: rgb(124, 124, 124);
  }
  .main-content-filter {
/* background: #CB356B; 
background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  
background: linear-gradient(to right, #BD3F32, #CB356B);  */
background-color: rgba(128, 190, 253,0.3);
    display: block;
    padding: 10px;
  }
  input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 7px 7px; 
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    transition-delay: 2s;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 60%;
  }
  input[type=text]:focus ~ #clear-search-btn {
    right: 40.7%;
  }

  .filter-bar-child {
    display: inline-block;
    margin: 0 10px;
  }
  .filter-bar-child span, .filter-bar-child select {
    display: inline-block;
  }
  .category-title {
    margin-bottom: 3px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: gainsboro;
  }
  select {
    outline: none;
    width: 100%;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    background: url('arrow.png');
    background-repeat: no-repeat;
    background-position: 95% 50%; 
    background-color: #c0392b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-bottom: 1px solid #962d22;
    color: white;
    padding: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 3px;
    border-radius: 7px;
  }
  /* For IE <= 11 */
  select::-ms-expand {
    display: none; 
  }
  select:hover,
select:focus {
  color: #c0392b;
  background: url('arrow1.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
  background-color: white;
  border-bottom-color: #DCDCDC;
}

  @media screen and (max-width: 800px) {
    input[type=text]:focus ~ #clear-search-btn {
      right: 15%;
    }
    #clear-search-btn {
      position: absolute;
      right: 55%;
      top: 131px;
      -webkit-transition: right 0.4s ease-in-out;
      transition: right 0.4s ease-in-out;
    }

    .filter-bar-child {
      width: 40%;
    }
    .search-bar{
      position: static;
    }
    input[type=text] {
      width: 85%;
      margin-bottom: 5px;
    }
    .search-bar, .filters-bar {
      display: block;
    }
    input[type=text]:focus {
      width: 170%;
    }
    .filter-bar-child span, .filter-bar-child select {
      display: block;
    }
  }

  /*======================== POPUP ========================*/
.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.form-popup {
  background: rgba(100, 100, 100, 0.5);
  position: fixed;
  display: none;
  z-index: 5000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.form-container {
  display: flex;
  max-width: 1000px;
  width: 80%;
  height: 85%;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  overflow-y: scroll;
  padding: 30px;
  z-index: 5001;
  border: 2px solid #ffffff;
  border-radius: 10px;
  
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  color: #333;
  font-size: 20px;
  background: floralwhite;
}
.more-detail-title{
  position: relative;
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 45px;
  text-shadow: 0 0 5px #ffffff;
}
.more-detail-desc p{
  font-size: 20px !important;
  margin: 10px 0;
}
.form-popup img{
  width: 96%;
  border-radius: 15px;
}
.form-popup a{
  margin: 10px;
}
.more-detail-category span {
  display: inline-block;
  margin: 0 5px;
}
/* ================= =================*/
.more-detail-ingredients-title i,.more-detail-instructions-title i{
  font-size: 25px !important;
}
.more-detail-ingredients-content{
  display: flex;
}
.more-detail-ingredients-content .more-detail-img{
  width: 50%;
  margin: 10px 20px; 
}
.more-detail-img img{
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.more-detail-ingredients-content li{
  min-height: 50px;
  width: 100%;
}
.more-detail-ingredients-content li:nth-child(){
  float: left;
}
.more-detail-ingredients-img{
  float: right;
  vertical-align: middle;
  max-width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 0 10px;
}

/* ================= =================*/
.form-popup i{
  font-family: "Lobster", cursive;
}
.site-intro h3,.form-popup h4{
  font-family: 'futura-pt', 'halyard-display', 'sans-serif';
  text-align: left;
  font-weight: 600;
  font-size: 18px;
}
.site-intro h3{
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.site-intro p
  ,.form-popup h4{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.form-popup .hr-vertical{
  width: 1px;
  height: 90%;
}
.form-popup .site-intro{
  width: 55%;
  text-align: justify;
  margin-left: 5px;
}
.form-popup p{
  font-family: 'futura-pt', 'halyard-display', 'sans-serif';
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-indent: 10px;
}
/*  */
.comment-label-share {
  display: flex;
  flex-direction: row;
}
.share-article {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: baseline;
}
.more-detail-ingredients-title {
    margin: 10px 0 20px 0;
    text-align: center;
}
#ul-ingredients {
  margin-left: 30px;
}
.more-detail-img-small {
  width: 65%;
}
/* OL LIST STYLE */
@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);
/*** FONTS ***/
/*** VARIABLES ***/
/* Colors */
/*** EXTEND ***/
/* box-shadow */
 ol.gradient-list > li, ol.gradient-list > li::before {
	 box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
/*** STYLE ***/
 *, *:before, *:after {
	 box-sizing: border-box;
}
 ol.gradient-list {
	 counter-reset: gradient-counter;
	 list-style: none;
	 margin: 1.75rem 0;
	 padding-left: 1rem;
}
 ol.gradient-list > li {
	 background: white;
	 border-radius: 0 0.5rem 0.5rem 0.5rem;
	 counter-increment: gradient-counter;
	 margin-top: 1rem;
	 min-height: 3rem;
	 padding: 1rem 1rem 1rem 3rem;
	 position: relative;
}
 ol.gradient-list > li::before, ol.gradient-list > li::after {
	 background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
	 border-radius: 1rem 1rem 0 1rem;
	 content: '';
	 height: 3rem;
	 left: -1rem;
	 overflow: hidden;
	 position: absolute;
	 top: -1rem;
	 width: 3rem;
}
 ol.gradient-list > li::before {
	 align-items: flex-end;
	 content: counter(gradient-counter);
	 color: #1d1f20;
	 display: flex;
	 font: 900 1.5em/1 'Montserrat';
	 justify-content: flex-end;
	 padding: 0.125em 0.25em;
	 z-index: 1;
}
 ol.gradient-list > li:nth-child(10n+1):before {
	 background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}
 ol.gradient-list > li:nth-child(10n+2):before {
	 background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}
 ol.gradient-list > li:nth-child(10n+3):before {
	 background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}
 ol.gradient-list > li:nth-child(10n+4):before {
	 background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}
 ol.gradient-list > li:nth-child(10n+5):before {
	 background: linear-gradient(135deg, rgba(162, 237, 86, 1) 0%, rgba(253, 220, 50, 1) 100%);
}
 ol.gradient-list > li:nth-child(10n+6):before {
	 background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}
 ol.gradient-list > li:nth-child(10n+7):before {
	 background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}
 ol.gradient-list > li:nth-child(10n+8):before {
	 background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}
 ol.gradient-list > li:nth-child(10n+9):before {
	 background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}
 ol.gradient-list > li:nth-child(10n+10):before {
	 background: linear-gradient(135deg, rgba(162, 237, 86, 0) 0%, rgba(253, 220, 50, 0) 100%);
}
 ol.gradient-list > li + li {
	 margin-top: 2rem;
}
/*========================  ========================*/
@media screen and (max-width: 800px) {
  .more-detail-ingredients-title {
    text-align: left;
}
  .more-detail-ingredients-container {
    margin-left: 0%;
  }
  .more-detail-img-big {
    text-align: center;
  }
  .more-detail-img-small {
    display: none;
  }
  .form-container{
    width: 101%;
    height: 101%;
  }
  .site-intro{
    display: none;
  }
  .hr-vertical{
    display: none;
  }
}
/*======================== RATING ========================*/
/*======================== Cancel ===================*/
.btn-cancel{
  position: fixed;
  transform: translate(-50%, -50%);
  left: 84%;
  top: 93%;
  padding:  10px;
  z-index: 5001;

  background-color: #787878;
  font-family: "Lobster", cursive;
  color: white;
  font-size: 22px;
  
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.btn-cancel:hover{
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.911);

}
